@model SingleActorViewModel
@{
    ViewData["Title"] = "DeleteActor";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<link rel="stylesheet" href="~/assets/css/customStyle.css" />

<div class="custom-table01 col-xl-12">
    <h3>Actor with Id: #@Model.Id was succesfully deleted</h3>
</div>

<script type="text/javascript" src="~/assets/js/redirectToHomeAfter8sec.js"></script>