@model SingleCategoryViewModel
@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<link rel="stylesheet" href="~/assets/css/customStyle.css" />

<div class="custom-table01 col-xl-12">
    <h3>Category was succesfully deleted</h3>
</div>

<script type="text/javascript" src="~/assets/js/redirectToHomeAfter8sec.js"></script>